<!-- Sidebar -->
<div ng-controller="listCtrl" ng-init="initializeMap()" layout="column" layout-fill>
	<md-content flex>
		<div layout="row">
			<div class="layout-md">
				<md-button class="md-raised" ng-click="showAddForm($event)">Add</md-button>
				<md-button class="md-raised" ng-click="showAllPlaces()">Default view</md-button>
			</div>
		</div>
		<div layout="row" layout-margin=""></div>
		<div layout="row" layout-align="center" ng-if="locationsArray.length == 0">No Locations were added</div>
		<md-list class="md-dense" flex ng-if="locationsArray.length > 0">
			<md-subheader class="md-no-sticky">Locations</md-subheader>
			<md-list-item class="md-3-line" ng-repeat="item in locationsArray track by $index" layout-fill>
				<div class="md-list-item-text" layout="row" layout-padding ng-click="showCity($index)">
					<div class="no-padding" layout-fill flex="80" >
						<h3>{{ item.name }}</h3>
						<p>{{ item.address }}</p>
						<p>{{ item.lat }}, {{ item.lng }}</p>
					</div>
					<div class="no-padding" layout-fill flex="20">
						<md-button class="md-fab md-mini md-primary" ng-click="showEditForm($event)">
							<i class="material-icons" ng-style="{color: 'white'}">create</i>
						</md-button>
						<md-button class="md-fab md-mini md-primary" ng-click="deletePlace()">
							<i class="material-icons" ng-style="{color: 'white'}">clear</i>
						</md-button>
					</div>
				</div>
			</md-list-item>
		</md-list>
	</md-content>
</div>
<!-- /#sidebar-wrapper -->